@import './variables/colors';
@import './variables/mixins';
@import './variables/fonts';

.footer {
    height: 60vh;
    background-color: $header-color;
    position: relative;
    font-family: $bolder-poppins;



    .carts {

        color: $main-color;
    }

    .form-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4rem 5rem;
        justify-content: space-between;

        .email {


            label {
                margin-right: 1rem;

            }

            input {
                height: 3.2rem;
                width: 360px;
                font-size: 16px;
                padding-left: 8px;
            }

            button {
                background-color: transparent;
                border: 2px solid $main-color ;
                color: $main-color;
                padding: 1rem 4rem;
                margin: 1rem;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    background-color: $main-color;
                    color: $header-color;
                    transition: 0.5s;
                    transform: scale(110%);
                }
            }
        }
    }

    .line {

        border: #686868 1px solid;
        margin-left: 10%;
        width: 80%;
        margin-bottom: 3rem;
    }

    .botton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .media {
            display: flex;
            flex-direction: row;


            a {
                margin: 30px 17px;
                padding: 5px;
                color: white;
            }
        }

        .logo {
            .link {
                text-decoration: none;
                display: flex;
                flex-direction: row;
                margin: 0px;
                margin-left: 1rem;
            }

            h1 {
                font-family: $Icon-mina;
                color: $main-color;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 16px;
                text-align: left;

            }

            .logoColor {
                color: #8C30DC;
            }
        }
    }
}