@import './variables/fonts';
@import './variables/colors';
@import './variables/mixins';



.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    font-family: $bolder-poppins;
    background-color: #000000be;

    .nav-container {
        @include flex-center;
        justify-content: space-between;
        font-family: $bolder-poppins;

    }

    .right {
        display: flex;
        flex-direction: row;

        ul {
            @include flex-center;
            list-style: none;
            align-self: center;

            li {
                a {

                    align-items: center;
                    display: flex;
                    text-decoration: none;
                    padding: 2rem;
                    color: $main-color;
                    height: 100%;
                }

                &:hover {

                    background-color: #4b4b4b65;
                }



            }

        }

    }


}

.menu {
    @include flex-center;

    .menu-icon {
        font-size: 64px;
        color: $main-color;
        cursor: pointer;
        margin-left: 1rem;
        position: sticky;

    }

    h1 {
        @include trans-color;
        margin-left: 1rem;
    }
}

.logo {

    .link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        margin: 0px;
        margin-left: 1rem;
    }

    h1 {
        font-family: $Icon-mina;
        color: $main-color;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 16px;
        text-align: left;

    }

    .logoColor {
        color: #8C30DC;
    }

}



.slider {
    display: grid;
    align-items: center;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 4, 4, 0.850);
    top: 0;
    top: -100%;
    transition: 1s ease-in-out;
}

.slider.active {
    top: 0;
    transition: 1s ease-in-out;
}

.container {
    align-items: center;
    text-align: center;
}

.ul-itens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    li {
        padding: 4rem;
        list-style: none;
        border: 2px solid $main-color;
        width: 450px;

        a {
            text-decoration: none;
            color: $main-color;
            text-transform: uppercase;
            font-size: 56px;
            text-shadow: 1px 0px 1px $main-color;

        }
    }
}