@import './variables/fonts';
@import './variables/colors';

.pricing {
    width: 100%;
    height: 100vh;
    background: $header-color;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 34%, rgba(54, 0, 68, 1) 100%);
    font-family: $bolder-poppins;
    overflow: hidden;

}

.none {
    display: none;
}

.cart-container {
    color: $main-color;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tour {
    border: 1px solid $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-color;
    height: 400px;
    width: 275px;
    line-height: 35px;
    position: relative;

    h1 {
        font-size: 1.5rem;
    }

    img {
        width: 258px;
        height: 200px;
        cursor: pointer;

        &:hover {
            transition: 0.3s ease-in-out;
            transform: scale(105%);
            opacity: 95%;
        }
    }

    p {
        align-self: flex-start;
        margin-left: 8px;
    }

    .price {
        align-self: flex-start;
        padding-bottom: 1rem;

        p {
            margin-bottom: -0.5rem;
        }

        h4 {
            margin-left: 8px;

            font-size: 2.5rem;
            text-align: start;
        }
    }

    button {
        background-color: transparent;
        border: 2px solid $main-color;
        color: $main-color;
        padding: 7px 30px;
        cursor: pointer;



        &:hover {
            background-color: $main-color;
            color: $header-color;
            transition: 0.5s;
            transform: scale(110%);
        }
    }

}